body {
font-family: "微软雅黑",serif;
font-size: 16px;
font-weight: 100;
line-height: 25px;
color: #fff;
margin:0px;
}
img{
padding: 4px;
/*background-color: rgb(28, 168, 157);*/
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
pre {
    display: inline-block;
    width: 100%;
}
code{
    background-color:rgba(248, 248, 248, 0.9);
    text-shadow: none;
}
h1, h2, h3, h4{
    color: #eaeaea;
}
h6{
    color:#fff;
    background-color: #2C9E7A;
    text-shadow: none;
    padding: 1px 8px;
    display: inline-block;
}

blockquote:before,  blockquote:after{
content: "";
font-size: 100px;
color: #fff;
font-family: Helvetica, arial, '宋体';
position: absolute;
}
blockquote:before {
content: "“";
top: 40px;
left: 10px;
}
blockquote:after {
content: "”";
bottom: 0px;
right: 10px;
}
 blockquote{
color: #eaeaea;
border-left:none;
quotes: "" "";
padding: 20px 40px 20px 40px;
position: relative;
margin: 15px 0;

}
::selection {
background-color: #2C9E7A;
}

.bookmark{
border-left: 4px solid #39c;
padding-left: 40px !important;
}
article{
        width: 75%;
margin: 0 auto;
padding: 16px;
border: 1px solid #FCF8F8;
box-shadow: 5px 5px 1px 0 rgba(253, 247, 247, 0.2);
background-color: #474747;
color:#eaeaea;
}
.bg article{
border: 1px solid #FCF8F8;
box-shadow: 5px 5px 1px 0 rgba(253, 247, 247, 0.2);
background-color: #fff;
color:#222;
}
strong{
    color:#eaeaea;
}
.bg strong{
    color:#222;
}
.bg h1,.bg h2,.bg h3,.bg h4,.bg h5,.bg h6,.bg blockquote{
    color:#222;
}
.bg blockquote:before, .bg blockquote:after{
    color:#57ad68;
}

body.english article{
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
.switch-bg{
    color:#39c;
    cursor: pointer;
    text-shadow:none;
}

@media (max-width: 900px) {
  article {
   width:inherit;
  }
}